################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/RecView/webapi/appsettings.json

bin/
obj/
*.user
appsettings.json
